*.pyc
__pycache__/
.venv/
.tmp/
/llm_models/
docs/CredRiskAI_Pitchdeck_Speaker_Notes.md
as2 req.jpeg
as2 overview.jpeg
as2 grading.jpeg
data/docs/download.pdf
data/docs/jrfm-18-00598.pdf
data/docs/PUBLICATION24.pdf
data/docs/SR241015130141.pdf
data/docs/CCFDBookchapter.pdf
data/docs/02686900410509802.pdf
data/docs/s10796-016-9647-9.pdf
data/docs/s41599-024-03606-0.pdf
data/docs/s42979-024-02772-x.pdf
data/docs/s44230-022-00004-0.pdf
data/docs/applsci-12-09637-v2.pdf
data/docs/techrxiv.174195749.90696308_v2.pdf
data/docs/Md+Jamil+Ahmmed_ijbeiv5i32513291369.pdf
data/docs/BOOK_CHAPTER_Liquidity_Management_Perfor.pdf
data/docs/A_Systematic_Literature_Review_of_Fraud_Detection_Metrics_in_Business_Processes.pdf
data/docs/Paper+7+(2024.6.1)+A+Review+on+Financial+Fraud+Detection+using+AI+and+Machine+Learning.pdf
data/docs/E-Commerce_Fraud_Detection_Based_on_Machine_Learning_Techniques_Systematic_Literature_Review.pdf
data/docs/Intelligent_Fraud_Detection_in_Financial_Statements_Using_Machine_Learning_and_Data_Mining_A_Systematic_Literature_Review.pdf
